<div class="dialog">
    <h2 mat-dialog-title>Create New Flashcard</h2>
    <div mat-dialog-content ngDefaultControl [formGroup]="form">
    
        <div mat-form-field hintLabel="Max 256 characters" appearance="fill">
            <div mat-label>Card Question</div>
            <textarea matInput #input maxlength="256" formControlName="question" placeholder="Ex. What is your name?"></textarea>
            <div mat-hint align="end">{{input.value.length}}/256</div>
        </div>

        <br />

        <div mat-form-field hintLabel="Max 256 characters" appearance="fill">
            <div mat-label>Card Answer</div>
            <textarea matInput #input2 maxlength="256" formControlName="answer" placeholder="Ex. Mason"></textarea>
            <div mat-hint align="end">{{input2.value.length}}/256</div>
        </div>
        <p *ngIf="showErr">Both entries must not be empty</p><p *ngIf="showErr"> or more than 256 characters</p>
    
    </div>

    <div mat-dialog-actions>
        <button mat-raised-button class="mat-raised-button"(click)="close()">Close</button>
        <button mat-raised-button color="primary" class="mat-raised-button " (click)="create()">Create</button>
    </div>
</div>
